# Repaso de probabilidad

## Probabilidad condicional

$P(A|B) = \frac{P(A ∩ B)}{P(B)}$

![](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*8GB3SuoGNOaFW5rk8zZp3w.png)
![](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Conditional_probability_venn_1-10.svg/744px-Conditional_probability_venn_1-10.svg.png)

**Analicemos la siguiente base de datos:** https://www.kaggle.com/datasets/uciml/student-alcohol-consumption e intentemos responder la pregunta:

1) ¿Qué probabilidad hay de que un estudiante pase con calificación mayor de 8 dado que faltó 10 veces o más a clase?

In [47]:
# https://towardsdatascience.com/conditional-probability-with-a-python-example-fd6f5937cd2
# https://www.statology.org/conditional-probability-in-python/ (pendiente)
import pandas as pd
import numpy as np
df = pd.read_csv('data/StudentAlcoholConsumption/student-mat.csv', usecols=['G3', 'absences'])
df.head(3)

   absences  G3
0         6   6
1         4   6
2        10  10

G3 - final grade (numeric: from 0 to 20, output target)

In [48]:
df['calif'] = np.where(df['G3']*5 >= 80, 1, 0)

In [49]:
df.head(3)

   absences  G3  calif
0         6   6      0
1         4   6      0
2        10  10      0

absences - number of school absences (numeric: from 0 to 93), considerar un alto ausentismo si faltó 10 veces o más.

In [50]:
df['ausencias_altas'] = np.where(df['absences'] >= 10, 1, 0)
df.head(3)

   absences  G3  calif  ausencias_altas
0         6   6      0                0
1         4   6      0                0
2        10  10      0                1

In [51]:
df['contador'] = 1
df.head(10)

   absences  G3  calif  ausencias_altas  contador
0         6   6      0                0         1
1         4   6      0                0         1
2        10  10      0                1         1
3         2  15      0                0         1
4         4  10      0                0         1
5        10  15      0                1         1
6         0  11      0                0         1
7         6   6      0                0         1
8         0  19      1                0         1
9         0  15      0                0         1

In [52]:
df = df[['calif','ausencias_altas','contador']]
df.head()

   calif  ausencias_altas  contador
0      0                0         1
1      0                0         1
2      0                1         1
3      0                0         1
4      0                0         1

In [53]:
pd.pivot_table(df, values='contador', index=['calif'], columns=['ausencias_altas'], aggfunc=np.size, fill_value=0)

ausencias_altas    0   1
calif
0                277  78
1                 35   5

Sea P(A) la probabilidad de obtener calificación mayor a 80.
Sea P(B) la probabilidad de faltar a 10 o más clases.

P(A|B) es la probabilidad de obtener una calificación mayor a 80 dado que faltó a 10 o más clases.

In [54]:
total = 277+35+78+5
A = 35+5
B = 78+5

In [55]:
PA = A/total
PB = B/total
PA, PB

(0.10126582278481013, 0.21012658227848102)

Para $P(A ∩ B)$ tenemos:

In [56]:
PAUB = 5/total
PAUB

0.012658227848101266

Calculemos $P(A|B) = \frac{P(A ∩ B)}{P(B)}$

In [57]:
PAdadoB = PAUB/PB
PAdadoB

0.060240963855421686